<div>
    <h2>Drzavas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="drzava.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Drzava
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span translate="pinfProApp.drzava.dr_naziv">Dr Naziv</span></th>
                    <th><span>Naseljena mesta</span></th>
                    <th><span>Valute</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="drzava in vm.drzavas track by drzava.id">

                    <td><a ui-sref="drzava-detail({id:drzava.id})">{{drzava.id}}</a></td>

                    <td>{{drzava.dr_naziv}}</td>

                    <!--NASELJENA MESTA BTN-->
                    <td>
                        <!--ui-sref="drzava-detail({id:drzava.id})"-->
                    <button type="submit"
                            ng-click="gotoNaseljenaMesta(drzava)"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs hidden-sm"> Vidi... </span>
                    </button>
                    </td>

                    <!--VALUTE BTN-->
                    <td>
                        <button type="submit"
                                ng-click="gotoValute(drzava)"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"> Vidi... </span>
                        </button>
                    </td>



                    <td class="text-right">

                        <div class="btn-group flex-btn-group-container">

                            <button type="submit"
                                    ui-sref="drzava-detail({id:drzava.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>

                            <button type="submit"
                                    ui-sref="drzava.edit({id:drzava.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>

                            <button type="submit"
                                    ui-sref="drzava.delete({id:drzava.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
