<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Lozinka naloga [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Lozinka promenjena!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Došlo je do greške!</strong> Lozinka nije izmenjena.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Lozinka i potvrda lozinke se ne poklapaju!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nova lozinka</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nova lozinka"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Lozinka je obavezna.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Lozinka mora imati bar 4 karaktera.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Lozinka ne može biti duža od 50 karaktera.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Potvrda nove lozinke</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Ponovo ukucajte novu lozinku"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Potvrda lozinke je obavezna.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Potvrda lozinke mora imati bar 4 karaktera.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Potvrda lozinke ne može biti duža od 50 karaktera.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Promeni</button>
            </form>
        </div>
    </div>
</div>
