
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNaseljenoMestoLabel">Create or edit a Naseljeno Mesto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.naseljenoMesto.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.naseljenoMesto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="pinfProApp.naseljenoMesto.nm_naziv" for="field_nm_naziv">Nm Naziv</label>
            <input type="text" class="form-control" name="nm_naziv" id="field_nm_naziv"
                    ng-model="vm.naseljenoMesto.nm_naziv"
                    required ng-maxlength="60" />
            <div ng-show="editForm.nm_naziv.$invalid">
                <p class="help-block"
                    ng-show="editForm.nm_naziv.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nm_naziv.$error.maxlength">
                    This field cannot be longer than 60 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="pinfProApp.naseljenoMesto.nm_pttoznaka" for="field_nm_pttoznaka">Nm Pttoznaka</label>
            <input type="text" class="form-control" name="nm_pttoznaka" id="field_nm_pttoznaka"
                    ng-model="vm.naseljenoMesto.nm_pttoznaka"
                    required ng-maxlength="12" />
            <div ng-show="editForm.nm_pttoznaka.$invalid">
                <p class="help-block"
                    ng-show="editForm.nm_pttoznaka.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nm_pttoznaka.$error.maxlength">
                    This field cannot be longer than 12 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_drzava">Drzava</label>
            <select class="form-control" id="field_drzava" name="drzava" ng-model="vm.naseljenoMesto.drzava" ng-options="drzava as drzava.dr_naziv for drzava in vm.drzavas track by drzava.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
