<div>
    <h2>Banke</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="banka.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Banka
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Sifra Banke</span></th>
                    <th><span>Pib</span></th>
                    <th><span>Swift Kod</span></th>
                    <th><span>Obracunski Racun</span></th>
                    <th><span>Naziv</span></th>
                    <th><span>Adresa</span></th>
                    <th><span>Email</span></th>
                    <th><span>Web</span></th>
                    <th><span>Telefon</span></th>
                    <th><span>Fax</span></th>
                    <th><span>Banka Int</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="banka in vm.bankas track by banka.id">
                    <td><a ui-sref="banka-detail({id:banka.id})">{{banka.id}}</a></td>
                    <td>{{banka.sifraBanke}}</td>
                    <td>{{banka.pib}}</td>
                    <td>{{banka.swiftKod}}</td>
                    <td>{{banka.obracunskiRacun}}</td>
                    <td>{{banka.naziv}}</td>
                    <td>{{banka.adresa}}</td>
                    <td>{{banka.email}}</td>
                    <td>{{banka.web}}</td>
                    <td>{{banka.telefon}}</td>
                    <td>{{banka.fax}}</td>
                    <td>{{banka.bankaInt}}</td>

                    <td>
                        <button type="submit"
                                ng-click="pick(banka)"
                                class="btn btn-success btn-sm" ng-show="isZoom">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"> Izaberi </span>
                        </button>
                    </td>

                    <td class="text-right" ng-hide="isZoom">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="banka-detail({id:banka.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="banka.edit({id:banka.id})"
                                    class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="banka.delete({id:banka.id})"
                                    class="btn btn-danger btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
