<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="bank img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>NAJJAČA BANKA</h1>
            <p class="lead">Dobrodošli na sistem Najjače banke.</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    Prijavljeni ste na sistem kao <b>{{vm.account.firstName}} {{vm.account.lastName}}</b>.
                    <button ng-click="test()"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="hidden-xs hidden-sm"> Izbor... </span>
                    </button>
                </div>

                <div class="alert alert-danger" ng-switch-when="false">
                    Niste prijavljeni !
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Prijavite se u sistem<br/><br/>
                    <button type="submit" class="btn btn-primary" ng-click="vm.login()">Prijavljivanje</button>

                </div>

                <!--<div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>-->

                <!--<div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>-->
            </div>





            <!--FILE UPLOAD START ******************************************************************-->
            <!--  https://github.com/danialfarid/ng-file-upload/wiki/spring-mvc-example -->
            <!--  https://github.com/danialfarid/ng-file-upload  -->
            <!--   -->
            <div >
            <h4>Izaberite XML dokument</h4>
            <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                    accept="*.xml" ngf-max-height="1000" ngf-max-size="1MB">
                Select File</button>
            <br><br>
            Izabran fajl:
            <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
              <span class="progress" ng-show="f.progress >= 0">
                <br> Upload status: <div style="width:{{f.progress}}%"
                       ng-bind="f.progress + '%'"></div>
              </span>
            </div>
            {{errorMsg}}
            </div>
            <!--FILE UPLOAD END *****************************************************************-->








        <!--    <p>
                If you have any question on JHipster:
            </p>


            <ul>
                <li><a href="http://jhipster.github.io/" target="_blank">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" >follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span>If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank">Github</a>!
            </p>-->
        </div>
    </div>
</div>
